:root {

    /* fonts */
    --magnat: 'Magnat';
    --migra: 'Migra Extralight';

    /* colors */
    --white: rgba(236, 236, 236, 1);
    --black: rgba(22, 22, 22, 1);
    --pink__dark: rgba(230, 161, 199, 1);
    --pink__light: rgba(249, 202, 215, 1);
    --cream: rgba(244, 188, 164, 1);
}