@import url("_base.css");
@import url("_reset.css");

/* fonts */

@font-face {
    font-family: 'Magnat';
    src: local('Magnat Text Regular'), local('Magnat-Text-Regular'),
        url('../font/Magnat-TextRegular.woff2') format('woff2'),
        url('../font/Magnat-TextRegular.woff') format('woff'),
        url('../font/Magnat-TextRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Migra Extralight';
    src: local('Migra Extralight'), local('Migra-Extralight')
        url('../font/Migra-Extralight.ttf');
    font-weight: 100;    
    font-style: normal;
}

/* home */

html {
    background: var(--white);
}

body {
    background-image: url("../img/Background-form.png");
    background-color: var(--white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
    
    width: auto;
    height: 925px;
    margin: auto;
}

.containerMain {
    padding: 210px;
}
    

.introduction {
    text-align: center;
    font-family: var(--migra);
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.robles {
    font-family: var(--magnat);
}

.jobFunction {
    text-align: center;
    font-family: var(--magnat);
    font-size: 96px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.and {
    font-family: var(--migra);
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.buttonClass {
    background-color: var(--black);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(22, 22, 22, 0.3);
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: var(--magnat);
    font-size: 22px;
    margin: 25px 25px;
    padding: 11px 16px;
    text-align: center;
    text-decoration: none;
}